SECRET_KEY=cambiar-mas-tarde # Clave generada por Django
DEBUG=True # False en producción

STELLAR_SECRET_KEY=Billetera_del_operador
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_NETWORK=TESTNET

# Chequeo de consistencia de la foto (no dispara el pago)
GEMINI_API_KEY=API_KEY_de_Gemini
